<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Camelia's Personal Site</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tr>
        <td><img src="{{ url_for('static', filename='21.jpg') }}" alt="programmer cartoon girl" width="200" height="200"></td>
        <td><h1>Camelia Ioana S.</h1>
        <p><em>Programmer and Code Wizard</em></p>
        <p>I am a Python Developer. I ❤️ reading and  Computer Science</p></td>
      </tr>
    </table>
    <hr>
    <h3>Work Experience and Projects</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>August 2024-November 2024</td>
          <td>Web Scraping Intern at Peviitor.ro</td>
        </tr>
        <tr>
          <td>23 November 2024</td>
          <td>Project - "An Overview of Artificial Intelligence in Software Engineering"</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tr>
        <td>iOS Development</td>
        <td>⭐️⭐️</td>
      </tr>
      <tr>
        <td>Python Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contact-me.html">Contact Me</a>
  </body>
</html>
